@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:where(.css-dev-only-do-not-override-17a39f8).ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-item {
  margin-bottom: 10px;
  padding: 20px 10px;
  line-height: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

.ant-layout-sider-children .ant-menu-item-selected {
  color: #000b90;
  font-weight: bold;
}

:where(.css-dev-only-do-not-override-17a39f8).ant-table-wrapper
  .ant-table-thead
  > tr
  > th,
:where(.css-dev-only-do-not-override-17a39f8).ant-table-wrapper
  .ant-table-thead
  > tr
  > td {
  background: white;
  color: black;
  border: 0;
}


/* :where(.css-dev-only-do-not-override-djtmh8).ant-pagination .ant-pagination-disabled .ant-pagination-item-link, :where(.css-dev-only-do-not-override-djtmh8).ant-pagination .ant-pagination-disabled:hover .ant-pagination-item-link {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
  background-color: #919EAB;
  color: white;
} */



.custom-pagination .ant-pagination {
  display: flex;
  justify-content: center;
}

.custom-pagination .ant-pagination .ant-pagination-item-active a {
  background-color: white;
  color: #7D4C48 !important;
  border: 1px solid #7D4C48;
}

.ant-pagination .ant-pagination-item-active a{
  background-color: #6C6C6C ;
  color: white !important;
} 
.ant-pagination .ant-pagination-item-active a:hover{
  color: "white" !important;
}

.ant-pagination .ant-pagination-item a{
  border-radius: 8px !important;
}

.ant-pagination .ant-pagination-item-active {
  border-color: transparent !important; /* Remove border color */
  border-radius: 8px !important;
}

:where(.css-dev-only-do-not-override-17a39f8).ant-input-affix-wrapper:hover{
  border-color:  #E0E4EC !important;
}
:where(.css-dev-only-do-not-override-17a39f8).ant-input:hover{
  border-color:  #E0E4EC !important;
}
:where(.css-dev-only-do-not-override-17a39f8).ant-btn-default:hover{
  border-color: none !important;
}

/* btn custom color change */
:where(.css-dev-only-do-not-override-17a39f8).ant-btn:hover{
  border-color: none !important;
}

.slider-container{
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 30px;
}
.ant-upload-select{
  width: 100% !important;
  height: 190px !important;
}
.slick-prev, .slick-next {
  background: none;
  background-color:white;
}
.slick-prev:before, .slick-next:before{
  color : black !important
}

.slick-next {
  right: -11px !important
}
.slick-prev {
  left: -23px !important
}
.slick-prev:before, .slick-next:before {
  font-size: 28px  !important
}