@tailwind base;
@tailwind components;
@tailwind utilities;

/* background color */
.ant-layout {
  background: transparent !important;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
ul,
li {
  text-decoration: none;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  display: none;
}

:where(.css-dev-only-do-not-override-17a39f8).ant-badge .ant-badge-count {
  background: #7d4c48;
  color: white !important;
}

:where(.css-dev-only-do-not-override-17a39f8).ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-item {
  padding: 10px 10px !important;
  margin-bottom: 0 !important;
}

/* table padding remove */
.ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  display: none !important;
}
.ant-table-wrapper .ant-table-tbody > tr > td {
  border-bottom: none !important;
}
.ant-table-wrapper .ant-table-thead > tr > th {
  padding: 10px 16px !important;
}
.ant-table-wrapper .ant-table-tbody > tr > td {
  padding: 9px 16px !important;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-table-wrapper
  .ant-table-thead
  > tr
  > th {
  text-align: center !important ;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-table-wrapper table {
  text-align: center !important ;
}

/* center pagination */
:where(.css-dev-only-do-not-override-17a39f8).ant-table-wrapper
  .ant-table-pagination {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

:where(.css-dev-only-do-not-override-17a39f8).ant-table-wrapper
  .ant-table-pagination.ant-pagination {
  margin: 8px 0 !important;
}

/* alert button */
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  background-color: #7d4c48 !important;
  margin: 0 !important;
  /* width: 350px !important; */
  border-radius: 8px !important;
}

/* slider */
.ant-slider .ant-slider-handle:hover::after {
  box-shadow: 0 0 0 4px #6a6d7c !important;
}
.ant-slider .ant-slider-handle:focus::after {
  box-shadow: 0 0 0 4px #6a6d7c !important;
}

.ant-slider .ant-slider-handle::after {
  box-shadow: 0 0 0 4px #6a6d7c !important;
}

/* tab  */
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #7d4c48 !important;
  border-color: #7d4c48 !important;
}
.ant-tabs .ant-tabs-ink-bar {
  background: #7d4c48 !important;
}

.ant-upload-select {
  height: 30px !important;
}

/* slider  */
.slick-dots li button:before {
  font-size: 14px;
}
